bone: #EEEEE0
lightgray: #DDDDD0
gray: #BBBBB0
orange: #FF9900
lightblue: #6699CC
blue: #336699
lightgreen: #669933
green: #336600
port: #993333
burgundy: #663333
lightbrown: #996633
brown: #554433

+bone
  :background-color !bone
+lightgray
  :background-color !lightgray
+gray
  :background-color !gray
+orange
  :background-color !orange
+lightblue
  :background-color !lightblue
+blue
  :background-color !blue
+lightgreen
  :background-color !lightgreen
+green
  :background-color !green
+port
  :background-color !port
+burgundy
  :background-color !burgundy
+lightbrown
  :background-color !lightbrown
+brown
  :background-color !brown

body
  :font 12px arial

.swatch
  :list-style-type none
  :margin 0
  :padding 0
  :color #ccc
  li
    :height 40px
    :width 70px
    :display inline-block
    :text-align center
    :padding 8px

.bone
  +bone
.lightgray
  +lightgray
.gray
  +gray
.orange
  +orange
.lightblue
  +lightblue
.blue
  +blue
.lightgreen
  +lightgreen
.green
  +green
.port
  +port
.burgundy
  +burgundy
.lightbrown
  +lightbrown
.brown
  +brown